.map-btn {
  background: #00459A;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #FFFCFC;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  width: 50%;
  height: 39px;
  border: none; }

.map {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: url("../img/map.png");
  height: 67px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4px 0px 8px 0px; }

.main-filter {
  border: 2px solid #00459A;
  height: 55px;
  width: 100%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 13px;
  cursor: pointer; }
  .main-filter-name {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #00459A;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .main-filter-name-wrapper {
      justify-self: center;
      margin-right: auto; }
  .main-filter-img {
    justify-self: flex-end; }

.filter-second-list {
  display: none; }

.filter-second-list.active {
  display: block; }

.popular {
  padding-left: 10px;
  cursor: pointer;
  border: 2px solid #00459A;
  width: 100%;
  height: 46px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px; }

.popular-img {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 40px;
  height: 20px;
  z-index: 3;
  cursor: pointer; }

.popular-img::after {
  content: ' ';
  display: block;
  background-color: black;
  position: absolute;
  width: 40px;
  height: 3px;
  left: 0;
  top: 0;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; }

.popular-img span {
  content: ' ';
  display: block;
  background-color: black;
  position: absolute;
  width: 30px;
  height: 3px;
  left: 0;
  top: 8px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; }

.popular-img:before {
  content: ' ';
  display: block;
  background-color: black;
  position: absolute;
  width: 20px;
  height: 3px;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; }

.popular-name {
  font-family: Roboto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }

.hotel {
  width: 96%;
  margin-left: 2%;
  height: 242px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.hotel-img {
  position: relative;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  background: url("../img/hotel.png") no-repeat;
  background-size: cover;
  height: 186px; }

.hotel-info {
  background: #089C68;
  max-height: 38px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 210px;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .hotel-info-text {
    margin-right: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF; }

.hotel-img-btn1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  color: #00459A;
  border: none;
  background: rgba(196, 196, 196, 0.8);
  height: 40px; }
  .hotel-img-btn1 img {
    margin-right: 15px; }

.hotel-img-btn2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  display: inline-block;
  position: absolute;
  right: 0;
  background: rgba(196, 196, 196, 0.8);
  height: 40px;
  border: none;
  bottom: 0;
  width: 50%;
  color: #00459A; }
  .hotel-img-btn2 img {
    margin-right: 15px; }

.hotel-art {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.hotel-text-info {
  height: 100%; }

.hotel-name {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.hotel-address {
  font-family: Roboto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #000000; }

.hotel-cost {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 11px;
  color: #000000; }

.hotel-btn {
  background-color: white;
  border: none;
  margin-top: 25px;
  margin-bottom: 15px; }
  .hotel-btn-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .hotel-btn.active {
    margin-top: 0px;
    margin-bottom: 34px; }

.hotel-btn-down {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg); }

.ul-hotel-cost {
  display: none; }

.hotel-btn-wrapper {
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s; }
  .hotel-btn-wrapper.active {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s; }

.main-data {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.public-btn img {
  vertical-align: top; }

.apartament-info {
  background: #E1313E; }

.main-data li {
  display: block;
  width: 190px; }
